
<!-- header section start -->
<div class="header_section">
  <nav class="desktop_header navbar navbar-expand-lg navbar-light bg-light">
    <div class="logo"></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('homePage') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('aboutPage') }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('doctorPage') }}">Doctor</a>
        </li>
        <li class="nav-item">
          <a class="logo_main" href="{{ path('homePage') }}">
            <img src="{{ asset('Front/img/logo.png') }}">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('departementsPage') }}">Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('blogPage') }}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('contactPage') }}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="{{ asset('Front/img/search-icon.png') }}"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">LOGIN</a>
        </li>              
      </ul>
    </div>
  </nav>

  <nav class="mobile_header navbar navbar-expand-lg navbar-light bg-light">
    <div class="logo">
      <a href="{{ path('homePage') }}">
        <img src="{{ asset('Front/img/logo.png') }}">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('homePage') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('aboutPage') }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('doctorPage') }}">Doctor</a>
        </li>
        <li class="nav-item">
          <a class="logo_main" href="{{ path('homePage') }}">
            <img src="{{ asset('Front/img/logo.png') }}">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('departementsPage') }}">Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('blogPage') }}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('contactPage') }}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="{{ asset('Front/img/search-icon.png') }}"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">LOGIN</a>
        </li>              
      </ul>
    </div>
  </nav>
</div>
<!-- header section end -->
